<!DOCTYPE html>
<html>

<head>

<title>Mi Swing Dance Company</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<h1>Mi Swing Dance Company 💃</h1>

<h2>Registro de Clase</h2>

<form action="/registrar" method="POST">

<input name="nombre" placeholder="Nombre completo" required>

<input name="edad" placeholder="Edad" required>

<input name="telefono" placeholder="Telefono" required>

<select name="clase">

<option>Salsa</option>
<option>Bachata</option>
<option>Sonderitos</option>
<option>Cumbia</option>

</select>

<button type="submit">Registrar asistencia</button>

</form>

</div>

</body>
</html>
